<h1>Verify your LucidLog account email address,
  <%= @user.email_address %></h1>

<p>
  Please, verify your email address by clicking the link below:
  <%= link_to "Verify my email address", verification_url(token: @user.expiring_token) %>
</p>
