name: linter

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: write

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"

      - name: Cache Composer Dependencies
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install Dependencies
        run: |
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
          npm install

      - name: Generate Wayfinder Types
        run: |
          cp .env.example .env
          touch database/database.sqlite
          php artisan key:generate
          php artisan wayfinder:generate --with-form

      - name: Run Pint
        run: vendor/bin/pint --test

      - name: Run TypeScript Type Checking
        run: npm run types

      - name: Format Frontend
        run: npm run format

      - name: Lint Frontend
        run: npm run lint
